In [24]:
import pandas as pd
df = pd.read_csv("./german_numerical-binsensitive.csv")
len(df)

1000

In [25]:
df['Y'] = list(map(int, df['credit'] == 1))
df = df.drop(columns=['credit'])

In [26]:
df['sensitive-attribute'] = df['sex']

In [27]:
df.to_json('german_without_scores.json', orient='records')

In [28]:
from sklearn.linear_model import LogisticRegression
y = df['Y']
X = df.drop(columns=['Y'])
clf = LogisticRegression(random_state=0).fit(X, y)
clf.score(X, y)

C:\Users\hetw\dev\programs\Anaconda3\envs\compas-analysis\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.778

In [29]:
clf.predict_proba(X)

array([[0.04958051, 0.95041949],
       [0.57751595, 0.42248405],
       [0.02737311, 0.97262689],
       ...,
       [0.06811731, 0.93188269],
       [0.71223348, 0.28776652],
       [0.27657679, 0.72342321]])

In [30]:
predicted_scores = clf.predict_proba(X)[:,1:]
df['scores'] = predicted_scores

In [31]:
df

,month,credit_amount,investment_as_income_percentage,sex,residence_since,age,number_of_credits,people_liable_for,sex-age,status_A11,...,skill_level_A172,skill_level_A173,skill_level_A174,telephone_A191,telephone_A192,foreign_worker_A201,foreign_worker_A202,Y,sensitive-attribute,scores
0,6,1169,4,1,4,1,2,1,1,1,...,0,1,0,0,1,1,0,1,1,0.950419
1,48,5951,2,0,2,0,1,1,0,0,...,0,1,0,1,0,1,0,0,0,0.422484
2,12,2096,2,1,3,1,1,2,1,0,...,1,0,0,1,0,1,0,1,1,0.972627
3,42,7882,2,1,4,1,1,2,1,1,...,0,1,0,1,0,1,0,1,1,0.505369
4,24,4870,3,1,4,1,2,2,1,1,...,0,1,0,1,0,1,0,0,1,0.224037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,1736,3,0,4,1,1,1,0,0,...,1,0,0,1,0,1,0,1,0,0.945916
996,30,3857,4,1,4,1,1,1,1,1,...,0,0,1,0,1,1,0,1,1,0.628226
997,12,804,4,1,4,1,1,1,1,0,...,0,1,0,1,0,1,0,1,1,0.931883
998,45,1845,4,1,4,0,1,1,0,1,...,0,1,0,0,1,1,0,0,1,0.287767
999,45,4576,3,1,4,1,1,1,1,0,...,0,1,0,1,0,1,0,1,1,0.723423

In [32]:
df.to_json('german.json', orient='records')

In [33]:
pd.read_csv("./german_categorical-binsensitive.csv")

,status,month,credit_history,purpose,credit_amount,savings,employment,investment_as_income_percentage,sex,other_debtors,...,age,installment_plans,housing,number_of_credits,skill_level,people_liable_for,telephone,foreign_worker,credit,sex-age
0,A11,6,A34,A43,1169,A65,A75,4,1,A101,...,1,A143,A152,2,A173,1,A192,A201,1,male-adult
1,A12,48,A32,A43,5951,A61,A73,2,0,A101,...,0,A143,A152,1,A173,1,A191,A201,2,female-youth
2,A14,12,A34,A46,2096,A61,A74,2,1,A101,...,1,A143,A152,1,A172,2,A191,A201,1,male-adult
3,A11,42,A32,A42,7882,A61,A74,2,1,A103,...,1,A143,A153,1,A173,2,A191,A201,1,male-adult
4,A11,24,A33,A40,4870,A61,A73,3,1,A101,...,1,A143,A153,2,A173,2,A191,A201,2,male-adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A14,12,A32,A42,1736,A61,A74,3,0,A101,...,1,A143,A152,1,A172,1,A191,A201,1,female-adult
996,A11,30,A32,A41,3857,A61,A73,4,1,A101,...,1,A143,A152,1,A174,1,A192,A201,1,male-adult
997,A14,12,A32,A43,804,A61,A75,4,1,A101,...,1,A143,A152,1,A173,1,A191,A201,1,male-adult
998,A11,45,A32,A43,1845,A61,A73,4,1,A101,...,0,A143,A153,1,A173,1,A192,A201,2,male-youth
999,A12,45,A34,A41,4576,A62,A71,3,1,A101,...,1,A143,A152,1,A173,1,A191,A201,1,male-adult